.card {
  display: flex;
  flex-direction: row;
  border: none;
}

.searchbox {
  height: 6rem;
  background-color: #e5e5e5;
}

.search {
  border-radius: 19px;
}
.maininformation {
  background-color: #e5e5e5;
}
.activitiesdisplay {
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
}
input {
  text-align: center;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-toggle {
  color: #e5e5e5;
}
